.kaizen-contact-section {
    /* background-color: #0D1117; */
    padding: 80px 20px;
    color: #f2f2f2;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.contact-info {
    flex: 1;
    min-width: 280px;
    max-width: 400px;
}

.contact-logo img {
    height: 60px;
    margin-bottom: 10px;
}

.contact-logo h2 {
    font-size: 28px;
    margin: 10px 0;
}

.contact-logo p {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 30px;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}