/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
@font-face {
  font-family: 'Inter';
  src: url('https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTcviYw.woff2') format('woff2');
  font-display: swap;
  ascent-override: 90%;
  descent-override: 20%;
  line-gap-override: 0%;
}
body {
  font-family: 'Inter', 'Segoe UI', sans-serif;
  /* background-color: #121212; */
  background-color: black;
  color: #f0f0f0;
  line-height: 1.6;
}

/* Links */
a {
  color: #ffffff;
  text-decoration: none;
}

/* a:hover {
  color: #00bcd4;
} */

/* Headings */
h1, h2, h3, h4, h5 {
  color: #ffffff;
}

/* Layout helpers */
section {
  padding: 60px 20px;
  padding-top: 0;
  max-width: 1200px;
  margin: auto;
} 