/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: 'Segoe UI', sans-serif;
  /* background-color: #121212; */
  background-color: black;
  color: #f0f0f0;
  line-height: 1.6;
}

/* Links */
a {
  color: #ffffff;
  text-decoration: none;
}

/* a:hover {
  color: #00bcd4;
} */

/* Headings */
h1, h2, h3, h4, h5 {
  color: #ffffff;
}

/* Layout helpers */
section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
} 